@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 4rem;
    padding: 2rem 0;
}

h2 {
    font-size: 38px;
    text-align: center;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 24px;
}

/* header */

.header {
    position: fixed;
    width: 100%;
    height: 4rem;
    top: 0;
    left: 0;
    padding: 10px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(92, 187, 131);
    z-index: 10;
}

.logo a{
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

nav {
    display: flex;
    gap: 2rem;
}

nav a {
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    transition: all .3s;
}

nav a:hover {
    color: #ccc;
}

/* about */

.about {
    display: flex;
    align-items: center;
    padding-top: 4rem;
}

.about .info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem 3rem;
}

.info h2 {
    text-align: left;
}

.info a {
    width: 200px;
    padding: 15px 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(49, 153, 90);
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: all .3s;
}

.info a:hover {
    background-color: #333;
}

.about .info-img {
    height: 80vh;
    flex: 1;
    padding: 30px 40px;
    overflow: hidden;
}

.info-img .img {
    background-image: url(../imgs/higher.jpg);
    background-size: cover;
    background-position: center right;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


/* member */

.member {
    background-color: #eee;
    /* min-height: 100vh; */
}

.member h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.card .img-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;
    overflow: hidden;
}

.card h3 {
    transition: all .3s;
}

.card:hover h3{
    color: rgb(49, 153, 90);
}

.img-container .img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
    transition: all .3s;
}

.img-container .member1 {
    background-image: url(../imgs/normal_johnny.jpg);
}

.img-container .member2 {
    background-image: url(../imgs/tatsutarou.jpg);
}

.img-container .member3 {
    background-image: url(../imgs/shunsuke.jpg);
}

.img-container .member4 {
    background-image: url(../imgs/yawen.jpg);
}

.card:hover .img {
    transform: scale(1.05);
    opacity: 1;
}

/* place */

.place {
    /* min-height: 100vh; */
}

.place h2 {
    margin-bottom: 2rem;
}

.spots {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.spot {
    display: flex;
    flex-direction: column;
}

.place-img-container {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.place-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.tamsui {
    background-image: url(../imgs/tamsui.jpg);
}

.sunset {
    background-image: url(../imgs/sunset.jpg);
}

.spot p {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;
}

.motto {
    font-size: 30px;
    text-align: center;
    margin: 2rem 0;
    color: #aaa;
}

.motto:hover {
    color: #333;
}

/* contact */

.contact {
    background-color: #eee;
}

.contact h2 {
    margin-bottom: 1.5rem;
}

.contact p {
    text-align: center;
    margin-bottom: 1rem;
}

.contact-container {
    display: flex;
    justify-content: center;
}

.contact-from {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact-from label {
    font-size: 24px;
}

.contact-from input, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
    box-sizing: border-box;
}

.contact-from input[type=submit] {
    width: 200px;
    padding: 15px 10px;
    border-radius: 10px;
    align-self: center;
    text-align: center;
    background-color: rgb(49, 153, 90);
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s;
}

.contact-from input[type=submit]:hover {
    background-color: #333;
}

/* footer */

footer {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background-color: rgb(92, 187, 131);
    color: #fff;
}